*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading-container{
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    
}
.cart-button{
    margin-left: 1150px;
}
.heading{
    color:purple;
}

.cart-button{
    background-color: white;
    border: none;
    cursor: pointer;
}

.vegetable-container{
    
    border: 1px solid gray;
    border-radius: 15px;
    width: 20%;
    display: inline-block;
    margin: 25px 25px 25px 25px;
    padding-top: 25px ;

    
}
.image{
    width: 50%;
    height: 70%;
    margin-left: 70px ;
}
.content{
    text-align: center;
    margin-bottom: 25px;
}
.add-button{
    background-color: turquoise;
    padding: 2%;
    border-radius: 10px;
}
.show-vegetable{
    position: absolute;
    display: flex;
    margin-top:5%;
    border-radius:5%;
    background-color: white;
    height: 100%;
    width: 100%;
  }
  
  .image-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .image-name{
    text-align: center;
    border: 1px solid grey;
    border-radius: 10%;
  }

